* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: #05172E;
    color: #F5F5F5;
    height: 680px;
    gap: 0px;
    opacity: 0px;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 6%;

}

.navigation .logo img {
    width: 38.64px;
    height: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

.logo h1 {
    width: 132px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
}

.anchor {
    color: #F5F5F5;
    width: 50%;
    font-size: 15px;

}

button {
    background-color: #007bff;
    width: 110px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: #F5F5F5;
    padding: auto;
    cursor: pointer;
}

button:hover {
    width: 120px;
    height: 40px;
}

section {
    /* float: right; */
}

.bspan {
    font-family: Base Neue Trial;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(18, 18, 148);

}

a {
    text-decoration: none;
    color: #F5F5F5
}

.headbody {
    /* position: relative; */
    text-align: center;
    padding: 100px 20px;
    height: 293px;
    left: 120px;
    opacity: 0px;
    /* margin-right: 400px; */
    padding-left: 190px;

}

.headbody .para1 {
    position: relative;
    z-index: 2;
}

.para1 h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Base Neue Trial;
    font-size: 60px;
    width: 1000px;
    height: 120px;
    color: #F5F5F5;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.4px;
}

.para1 img {
    width: 40px;
    height: 40px;
    position: relative;
}

#para1img {
    margin-right: 35px;
    /* position: absolute; */
    animation: fading 4s infinite;

}

#para1imag {
    margin-left: 30px;
    margin-bottom: 100px;
    position: absolute;
    animation: fading 4s infinite;
}

@keyframes fading {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.para1 p {
    width: 950px;
    height: 81px;
    gap: 0px;
    opacity: 0px;
    font-family: Calibre;
    font-size: 16px;
    font-weight: 20px;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 150px;

}

.para1 .button button {
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    padding-right: 520px;

}

.button .btn1 {
    background-color: #007bff;
    color: #FFF;
    margin-right: 2px;
}

.button .btn2 {
    background-color: #ffffff;
    color: #007bff;
    margin-left: 2px;
}

.blend {
    margin-top: 150px;
    width: auto;
    padding-left: 0px;


}

.blendimg {
    height: 100px;
    width: 100%;
    margin-top: 100px;
}



.para3 {
    opacity: 0px;
    font-family: Base Neue Trial;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-align: left;

}

.para4 {
    font-family: Calibre;
    font-size: 18px;
    font-weight: 400px;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: left;

}

.body1 {
    /* width: 1512px; */
    height: 850px;
    padding: 20px 30px 30px 30px;
    opacity: 0px;
    background: #FFFFFF;

}

.innovation {
    width: 1, 199px;
    height: 180pxpx;
    margin-top: 30px;
    /* margin-left: 40px; */
    gap: 96px;
    opacity: 0px;
    display: flex;
    margin-bottom: 50px;

}


.solution p {
    font-family: Base Neue Trial;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: left;

}

.solution1 img {
    width: 593px;
    height: 346px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.solution p span {

    font-family: Calibre;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.01em;
    text-align: left;
    color: black;

}


.payment p span {
    font-family: Calibre;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: black;


}

.content {
    width: 1, 312px;
    height: 597px;
    top: 316px;
    left: 100px;
    gap: 37px;
    opacity: 0px;
    display: flex;
    /* flex-direction: row; */
    margin-top: 50px;
}

.payment p {
    font-family: General Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 20px;

}

.payment {
    /* width: 604px; */
    height: 552.64px;
    gap: 15px;
    opacity: 0px;

}

/* media query */
@media screen and (max-width: 700px) {
    /* body {
        width: 250px;
    } */

    button {
        width: 90px;
        height: 20px;
    }

    #header {
        width: 1000px;
        height: 350px;
    }

    .navigation {
        padding-left: 5px;
        padding-right: 10px;
    }

    nav ul {
        gap: 4.5px;
    }

    .logo {
        margin-top: 15px;
        /* margin-left: 10px; */
    }

    .navigation .logo img {
        width: 17px;
        height: 10px;
    }

    .logo h1 {
        width: 15px;
        font-size: 7px;

    }

    .anchor {
        width: 90%;
        font-size: 5.5px;
        /* background-color: blue; */
    }

    button {
        width: 42px;
        font-size: 6px;
        height: 15px;
    }


    span {
        font-size: 15px;
        line-height: 30px;
    }

    .headbody {
        padding: 50px 10px;
        margin-right: 750px;
        /* margin-left: 400px; */
        height: 200px;
        padding-top: 30px;
    }

    .para1 h1 {
        font-size: 10px;
        /* padding-left: 13px; */
        margin-bottom: 10px;
        margin-top: 10px;
        height: 40px;
        /* width:700px ; */
        padding-right: 750px;

    }

    #para1img {
        margin-right: 5px;
    }

    #para1imag {
        margin-left: 5px;
    }

    .para1 img {
        width: 10px;
        height: 10px;
    }

    .para1 p {
        font-size: 4.5px;
        font-weight: 30px;
        height: 30px;
        /* width: 900px; */
        line-height: 15px;
        padding-right: 700px;
        padding-left: 0;
    }

    .button .btn1 {
        width: 50px;
    }

    .blend {
        margin-top: 0;
        /* padding-left: 50px; */
    }

    .blendimg {
        height: 60px;
        margin-top: 39px;
        width: 90%;
        /* padding-left: 100px; */
    }

    .innovation {
        width: 230px;
    }

    .para3 {
        font-size: 15px;
        line-height: 30px;
    }

    .para4 {
        /* width: 300px; */
        font-size: 12px;
        font-weight: 500px;
    }

    .body1 {
        width: 230px;
        padding-left: 20px;
    }

    #image {
        width: 230px;
    }

    .content {
        flex-direction: column;
        width: 230px;

    }

    .solution {
        width: 230px;
    }

    .solution p {
        font-size: 20px;
    }

    .solution p span {
        font-size: 15px;

    }

    .payment p span {
        font-size: 15px;
    }
}

/* .codesquadcomm {
    display: flex;
} */

/* body {
    width: 100%;
} */

.codesquadcomm h4 {
    margin-left: 320px;
    margin-top: 130px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.codesquadcomm h5 {
    margin-left: 130px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    /* width: 683px; */
    padding-right: 150px;
}

.codesquadcomm button {
    /* padding: 7px 60px; */
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 8px;
    margin-left: 450px;
    margin-top: 10px;
    /* text-align: center;
    width: 683px; */
}

.rectangle {
    display: flex;
    margin-left: 400px;
}

/* .rect1 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-right: 20px;
}

.rect1 img {
    align-items: center;
}

.rect2 {
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    margin-right: 20px;
}

.rect3 {
    width: 200px;
    height: 200px;
    background-color: royalblue;
    margin-right: 20px;
} */

/* .questbox {
    width: 200px;
    height: 200px;
} */

.image {
    display: flex;
    margin-left: -50px;
}

.mgl {
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
}

.image img {
    border-radius: 20px;
    width: 410.67px;
    height: 340px;
}

.questbox img {
    width: 1312px;
    height: 300px;
    border-radius: 12px;
    margin-left: -50px;
}

/* .helpbox {
    width: 1312px;
    height: 300px;
} */

.questbox h2 {
    text-align: center;
    margin: auto;
    margin-top: -205px;
    font-size: 32px;
    font-weight: 500;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.questbox h4 {
    margin-top: -35px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    display: flex;
    margin: auto;
    margin-left: 35%;
    margin-top: 20px;
}

.btn4 {
    background-color: #1A73E8;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 8px, 12px, 8px, 12px;
    width: 80px;
    height: 44px;
}

.btn5 {
    width: 142px;
    height: 44px;
    background-color: white;
    color: #1A73E8;
    border: 0;
    border-radius: 8px;
    margin-left: 32px;
}


.signup {
    display: flex;
    width: 1312px;
    height: 200px;
    border-radius: 12px;
    background-color: #05172E;
    margin: auto;
    margin-left: -50px;
    margin-top: 80px;
}

.text {
    justify-content: space-between;
}

.signup h2 {
    color: white;
    padding-left: 50px;
    padding-top: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup h4 {
    color: white;
    padding-left: 50px;
    margin-top: 20px;
    font-weight: 100;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rec {
    display: flex;
}

.rec1 {
    width: 360px;
    height: 44px;
    font-size: small;
    font-style: italic;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
    margin-top: 73px;
    margin-left: 320px;
    border: 0;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rec2 {
    width: 86px;
    height: 44px;
    text-align: center;
    font-size: small;
    padding: 8px 12px;
    color: white;
    background-color: #1A73E8;
    border: 0;
    margin-right: 20px;
    margin-top: 73px;
    margin-left: 5px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    display: flex;
    height: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background: linear-gradient(to top, #B3D0F7, rgba(26, 115, 232, 0));


}


.contact img {
    /* width: 40%; */
    margin-left: 100px;
    margin-top: 40px;
}

.contact h2 {
    margin-left: 100px;
    font-size: medium;
    font-weight: 500;
    color: #05172E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lin h2 {
    font-size: medium;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 40px;
    color: #05172E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link h2 {
    font-size: medium;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 40px;
    color: #05172E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link2 h2 {
    font-size: medium;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 40px;
    color: #05172E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.follow {
    display: flex;
}

.follow h2 {
    font-size: medium;
    font-weight: 500;
    margin-left: 120px;
    margin-top: 40px;
    color: #05172E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
    display: flex;
    margin-left: 35px;
    margin-top: 35px;

}

.fa {
    border-radius: 50%;
    background-color: gray;
    width: 32px;
    height: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

lin {
    padding-top: 35px;
}

.fa-facebook {
    padding-top: 7px;
    font-size: 20px;
}

.fa-linkedin {
    padding-top: 7px;
    font-size: 20px;
}

.aspan span {
    margin-left: 20px;
}

.main {
    max-width: 80%;
    margin: auto;
}